:root {
  --bp-y: #EFF119;
  --bp-blk: #281C28;
  --bp-blu: #4387EC;
  --bp-blult: hsl(216, 82%, 98%);
  --bp-red: #D3424C;
  --bp-dblu: #3942AC;
}

* {
  color: --bp-blk;
}

.tracker_footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  background-color: var(--bp-blult);
  border-radius: 10px 10px 0 0;
  padding-top: 0;
}

.btn {
  background-color: var(--bp-blu);
}
input{
  background-color: white;
  border: none;
  outline: none;
}
.form_input_row{
  display: flex;
  justify-content: space-between;
}
.form_input_row>*{
  max-width: 45%;

}
.bp_data_cont{
  padding-bottom: 150px;
  max-height: 90vh;
  overflow-y: scroll;
}
.bp_data_cont::-webkit-scrollbar{
  display: none;
}
.bp_data_card{
  background-color: var(--bp-blult);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.bp_tag{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  font-weight: bold;
  background-color: #D3424C;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
}
.bp_rec_date{
  font-size: 14px;
}
.bp_rec_date>span{
  font-style: italic;
  font-weight: bold;
}
.bp_showcase{
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bp_divide_line{
  width: 70%;
  height: 2px;
  border-radius: 1pc;
  background-color: var(--bp-blk);
}