:root {
  --bp-y: #eff119;
  --bp-o: #d1671d;
  --bp-blk: #281c28;
  --bp-blu: #4387ec;
  --bp-blult: hsl(216, 82%, 98%);
  --bp-red: #d3424c;
  --bp-dblu: #3942ac;
  /* --bp-dblu-bkg: #141847; */
  --bp-action-bkg: #4387ec;
  --bp-color: #1f1f1f;
  --bp-main-bkg: #fff;
  --bp-secondary-bkg: #f6f9fe;
  --bp-dblu-bkg: #eff0fc;
}

/* When the light is checked */
:root:has(#light_mode:checked) {
  --bp-color: #1f1f1f;
  --bp-main-bkg: #fff;
  --bp-secondary-bkg: #f6f9fe;
  --bp-dblu-bkg: #eff0fc;
}

:root:has(#dark_mode:checked) {
  --bp-color: #fff;
  --bp-main-bkg: #212121;
  --bp-secondary-bkg: #2c2c2c;
  --bp-dblu-bkg: #1d1e33;
}

* {
  color: var(--bp-color);
}

body {
  background-color: var(--bp-main-bkg);
}

.tracker_footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  background-color: var(--bp-secondary-bkg);
  border-radius: 10px 10px 0 0;
  padding-top: 0;
}

.btn {
  background-color: var(--bp-blu);
}

input,
textarea {
  background-color: var(--bp-main-bkg);
  border: none;
  outline: none;
}
#overlay_note_input{
  background-color: var(--bp-secondary-bkg);

}
.form_input_row {
  display: flex;
  justify-content: space-between;
}

.form_input_row>* {
  max-width: 47%;
}

.bp_data_cont {
  padding-bottom: 90px;
  padding-top: 10px;
  max-height: 87vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.bp_data_cont::-webkit-scrollbar {
  display: none;
}

.bp_data_card {
  background-color: var(--bp-secondary-bkg);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
  /* border: 1px solid var(--bp-blu); */
}

.bp_card_btn {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.bp_data_card.most_recent {
  border: 1px solid var(--bp-dblu);
  background-color: var(--bp-dblu-bkg);
}

.bp_data_card:not(:last-child) {
  margin-bottom: 10px;
}

.bp_tag {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  font-weight: bold;
  background-color: #d3424c;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
}

.bp_rec_date {
  font-size: 14px;
}

.bp_note {
  font-size: 12px;
}

.bp_rec_date {
  font-style: italic;
  font-weight: bold;
}

.bp_card_info {
  max-width: 75%;
}

.bp_showcase {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bp-red);
}

.bp_data_card.most_recent>.bp_showcase {
  background-color: var(--bp-dblu-bkg);
}

.bp_showcase>P {
  font-weight: bold;
}

.bp_divide_line {
  width: 60%;
  height: 2px;
  border-radius: 1pc;
  background-color: var(--bp-color);
}

/* 
overlay_cont
overlay_inner
overlay_inner_header
*/
.menu_overlay_cont,
.welcome_modal_overlay_cont,
.overlay_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bp-secondary-bkg);
}

.menu_inner,
.overlay_inner,
.welcome_modal_inner {
  padding: 20px;
  width: 90%;
  max-width: 450px;
  background-color: var(--bp-main-bkg);
  border-radius: 10px;
}

.menu_header,
.overlay_inner_header {
  display: flex;
  justify-content: space-between;
}

.menu_overlay_cont>.menu_inner,
.overlay_cont>.overlay_inner,
.welcome_modal_overlay_cont>.welcome_modal_inner {
  display: none;
}

.menu_overlay_cont,
.overlay_cont,
.welcome_modal_overlay_cont {
  opacity: 0;
  z-index: -1;
  transition: opacity 150ms ease-out;
}

.menu_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.menu_overlay_cont.active,
.overlay_cont.active,
.welcome_modal_overlay_cont.active {
  width: 100%;
}

.menu_overlay_cont.active>.menu_inner,
.overlay_cont.active>.overlay_inner,
.welcome_modal_overlay_cont>.welcome_modal_inner {
  display: block;
}

.menu_overlay_cont.active,
.overlay_cont.active,
.welcome_modal_overlay_cont.active {
  opacity: 1;
  z-index: 9999;
  transition: opacity 150ms ease-in;
}

.end_of_data_note {
  text-align: center;
  font-size: 12px;
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close_settings_btn_cont,
.settings_btn_cont,
.btn_cont {
  width: 35px;
  height: 35px;
  display: flex;
  background-color: var(--bp-action-bkg);
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.footer_col {
  position: relative;
}

.footer_close_btn_cont {
  position: absolute;
  top: 10px;
  right: 10px;
  /* right: 10px; */
  background-color: var(--bp-main-bkg);
}

.settings_btn_cont>img,
.close_settings_btn_cont>img,
.btn_cont>img {
  max-width: 16px;
}

#close_settings_btn,
#settings_btn,
#close_footer_btn,
#close_record_modal_btn,
#footer_open_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#footer_open_btn {
  border-radius: 10pc;
}

#clear_all_data_btn {
  margin-top: 0;
}

.version {
  font-size: 10px;
  padding-top: 15px;
}

.danger {
  background-color: var(--bp-red);
}

.caution {
  background-color: var(--bp-o);
}

.normal {
  background-color: var(--bp-blu);
}

#download_csv_btn {
  margin-top: 0;
  margin-bottom: 15px;
}

#download_csv_btn>svg {
  max-width: 18px;
  fill: white;
  margin-left: 10px;
}

.footer_open_btn_cont {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  height: 75px;
  width: 75px;
  border-radius: 10pc;
  border: 7px solid var(--bp-main-bkg);
  z-index: 9;
}

.footer_close_btn_cont {
  background-color: var(--bp-action-bkg);
}

.plus_symbol,
.close_symbol,
.menu_symbol {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu_symbol {
  flex-direction: column;
  gap: 3px;
}

.plus_elm,
.close_elm,
.menu_elm {
  position: absolute;
  background-color: white;
  width: 40%;
  height: 3px;
  border-radius: 1pc;
}

.plus_elm:last-child,
.close_elm:last-child {
  transform: rotate(90deg);
}

.close_elm:first-child {
  transform: rotate(-45deg);
}

.close_elm:last-child {
  transform: rotate(45deg);
}

.menu_elm {
  position: relative;
  width: 50%;
}

.theme_toggle_cont {
  height: 45px;
  width: 50%;
  background-color: var(--bp-secondary-bkg);
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.theme_toggle_btn {
  position: absolute;
  height: 75%;
  width: 40%;
  border-radius: 3px;
  background-color: var(--bp-action-bkg);
}

.theme_toggle_btn {
  left: 5px;
  transition: all 150ms ease-out;
}

.theme_toggle_btn.dark {
  left: inherit;
  right: 5px;
  transition: all 150ms ease-in;
}

.theme_check_boxes {
  position: fixed;
  top: -500px;
}

#overlay_record_date{
  font-style: italic;
  font-weight: bold;
}

.record_modal_showcase{
  display: flex;
  gap: 10px;
  align-items: center;
}

#modal_bp_category{
  padding: 5px 12px;
  border-radius: 7px;
  background-color: var(--bp-action-bkg);
  color: white;
}